## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- DataScience Languages
- DataScience Libraries
- DataScience Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Sciki-learn
3. Numpy
4. Plotly

|Data Science Tools|
:--:
|JupyterLab|
|VScode|
|Rstudio|

Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
hours=200/60
print(hours)

3.3333333333333335

## Author
Muhammad Maaz